<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive meta tag -->
	<title>Login Page</title>
	<link rel="stylesheet" th:href="@{/lib/bootstrap-5/css/bootstrap.min.css}" />
	<style>
		body {
			background-color: #f8f9fa;
			/* Light background color */
		}

		.login-container {
			max-width: 400px;
			/* Maximum width for the container */
			margin: 50px auto;
			/* Centering the container */
			padding: 20px;
			background: #48CFCB;
			border-radius: 5px;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			/* Subtle shadow */

		}
	</style>
</head>

<body>
	<div class="edit">
		<h2 class="text-center">Edit</h2>

		<form action="#" th:action="@{/admin/students/edit/{id}(id=${student.id})}" th:object="${student}"
			method="post">
			<div class="mb-3">
				<label for="name" class="form-label">Name</label>
				<input type="text" class="form-control" th:field="*{name}" required placeholder="Enter student Name" />
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Address</label>
				<input type="text" class="form-control" th:field="*{address}" required
					placeholder="Enter student Address" />
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Parents Contacts</label>
				<input type="text" class="form-control" th:field="*{parentContactInfo}" required
					placeholder="Enter  ParentsContact" />
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Grade</label>
				<input type="text" class="form-control" th:field="*{grade}" required placeholder="Enter your Grade" />
			</div>
			<div class="mb-3">
				<label for="dateOfBirth">Date of Birth</label>
				<input type="date" th:field="*{dateOfBirth}" id="dateOfBirth">
				<br><br>
			</div>

			<button type="submit">Update</button>



		</form>

	</div>

	<script th:src="@{/lib/bootstrap-5/js/bootstrap.bundle.min.js}"></script> <!-- Bootstrap JS -->
</body>

</html>